/* .blue-bor{
  border: 2px solid blue;
}

.red-bor{
  border: 2px solid red;
}

.black-bor{
  border: 2px solid black;
}
.green-bor{
  border: 2px solid green;
} */



.g-form{
  background-color: rgb(194, 212, 199);
}



@media  (max-width: 576px){
  
 
}